body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(226, 240, 254) 0%,
    rgb(255, 247, 228) 90%
  );
}
.border {
  background-color: #ffff;
}
.title {
  text-align: center;
  color: grey;
  margin: 5px;
}
.wrapper {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.current-city {
  font-size: 32px;
  color: grey;
}

.current-time {
  font-size: 18px;
  color: grey;
}

.current-day {
  font-size: 18px;
  color: grey;
}
.current-date {
  font-size: 18px;
  color: rgb(250, 139, 3);
}
.sunny-emoji {
  font-size: 64px;
  color: rgba(255, 196, 0, 0.968);
}

.temp {
  font-size: 64px;
  color: black;
}
.degrees {
  font-size: 18px;
  font: weight 100;
  color: grey;
  position: relative;
  top: -30px;
}
.current-weather {
  font-size: 18px;
  color: grey;
  text-transform: capitalize;
}
.current-conditions {
  color: grey;
  font-size: 16px;
  position: relative;
  top: 40px;
}

li {
  list-style: none;
}
.row {
  justify-content: space-around;
}
.forecast-title {
  text-align: center;
  color: grey;
  font-size: 36px;
}
.five-day-forecast {
  text-align: center;
  position: relative;
  top: 30px;
}
.card-title {
  text-align: center;
  color: #56575d;
}
.card-body:hover {
  background-color: rgb(206, 239, 253, 0.5);
}
.col-sm-2 {
  font-weight: 700;
  margin: 0 auto;
  height: 300px;
  font-size: 18px;
  border: solid rgb(250, 139, 3);
  border-width: 2px;
}
.col-sm-2:hover {
  transition: all 120ms ease-in-out;
  cursor: pointer;
  transform: scale(1.07);
}
.rain-cloud {
  color: #99b9f0;
}
.cloudy {
  color: #99b9f0;
}
.mostly-cloudy {
  color: #99b9f0;
}
.open-source-link {
  margin: 10px;
  text-align: center;
  font-size: 18px;
}
